## Assignment 2, Part 1
### Jeff Scanlon
### Jscanlo2

In [1]:
import pandas as pd
import numpy as np

UseGitHub = False # True
if UseGitHub:
    prefix = 'https://raw.githubusercontent.com/ProfRaja/67364/master/data/a2/'
else:
    prefix = 'C:/Users/jeffr/Documents/' #load locally
    
expeditions_xls = prefix+'Expeditions.xls'

df = pd.read_excel(expeditions_xls)

In [2]:
pd.pivot_table(df, values='REVENUE', index='WHERE', columns = 'HOW', aggfunc = np.sum, margins=True, margins_name='Total')

HOW       Catalog   Store    Web   Total
WHERE
London      50310  151015  13009  214334
New York     8712   28060   2351   39123
Paris       32166  104083   7054  143303
Sydney       5471   21769   2749   29989
Tokyo       12103   42610   2003   56716
Total      108762  347537  27166  483465