## Assignment 2, Part 3
### Jeff Scanlon
### Jscanlo2

In [181]:
import pandas as pd
import re
df = pd.read_csv('itunes-raja.csv', sep=',')
df.head()

,app_name,category,appstore_link_url,img_src_url,star_rating,num_ratings
0,SoundCloud - Music & Audio,Music,https://apps.apple.com/gb/app/soundcloud-music...,/autopush/uk/itunes/charts/free-apps/images/20...,4.4,10.2K Ratings
1,Bolt,Travel,https://apps.apple.com/gb/app/bolt/id675033630...,/autopush/uk/itunes/charts/free-apps/images/20...,4.9,29.9K Ratings
2,Google Drive – online backup,Productivity,https://apps.apple.com/gb/app/google-drive-onl...,/autopush/uk/itunes/charts/free-apps/images/20...,4.7,236.4K Ratings
3,Amazon Prime Video,Entertainment,https://apps.apple.com/gb/app/amazon-prime-vid...,/autopush/uk/itunes/charts/free-apps/images/20...,4.7,117.6K Ratings
4,Depop - Buy and sell fashion,Shopping,https://apps.apple.com/gb/app/depop-buy-and-se...,/autopush/uk/itunes/charts/free-apps/images/20...,4.8,158.4K Ratings

In [182]:
df['new_ratings'] = df['num_ratings']

for entry in df['new_ratings']:
    
    if('K Ratings' in str(entry)):
        new_entry = entry.replace('K Ratings', '')
        df.loc[df['new_ratings']==entry, 'new_ratings'] = int(float(new_entry)*1000)
        
    elif('M Ratings' in str(entry)):
        new_entry = entry.replace('M Ratings', '')
        df.loc[df['new_ratings']==entry, 'new_ratings'] = int(float(new_entry)*1000000)
        
    elif(' Ratings' in str(entry)):
        new_entry = entry.replace(' Ratings', '')
        df.loc[df['new_ratings']==entry, 'new_ratings'] = int(new_entry)
    
    else:
        df.loc[df['new_ratings']==entry, 'new_ratings'] = entry

In [191]:
df = df.sort_values(by = ['star_rating', 'new_ratings', 'app_name'], ascending=[False, False, True]).reset_index(drop=True)

In [211]:
# New Dataframe Showing Only the Columns Requested in the Assignment
df[['app_name', 'star_rating', 'new_ratings']]

                         app_name  star_rating new_ratings
0                          Shazam          4.9      694400
1                            Bolt          4.9       29900
2                        Barclays          4.8      856200
3          HSBC UK Mobile Banking          4.8      543600
4        Booking.com Travel Deals          4.8      540400
..                            ...          ...         ...
95                     B&M Stores          3.1         103
96                         Amazon          3.0       11300
97                       SaraMart          2.9         108
98                       Facebook          2.6       37500
99  Bemoji | Your 3D Avatar Emoji          2.6          93

[100 rows x 3 columns]

In [207]:
# Number of Apps within Each Category
df['category'].value_counts()

Games                34
Shopping             11
Productivity          6
Travel                6
Finance               6
Education             5
Social Networking     5
Photo & Video         5
Music                 4
Food & Drink          4
Entertainment         4
Utilities             3
Health & Fitness      2
Business              2
Navigation            2
Reference             1
Name: category, dtype: int64

In [209]:
# Unweighted Average of Star Rating for Apps within Each Category
round(df.groupby('category')['star_rating'].mean(),2)

category
Business             4.60
Education            4.22
Entertainment        4.18
Finance              4.72
Food & Drink         4.58
Games                4.43
Health & Fitness     4.70
Music                4.55
Navigation           4.50
Photo & Video        4.44
Productivity         4.55
Reference            4.40
Shopping             4.23
Social Networking    4.14
Travel               4.68
Utilities            3.73
Name: star_rating, dtype: float64

In [243]:
df.groupby('category')['star_rating'].max()
maxvals = df.groupby('category')['star_rating'].max()

In [261]:
# This series shows the App Name with the highest average rating for each category.
# In the case of ties, the App Name with the highest number of total ratings is shown.
# This is because the dataframe used to generate this series is already sorted by average rating and number of ratings.
# idxmax works by pulling the first index with the corresponding maximum value, which is why sorting works.
# The code chunk provided below this cell confirms that.
grouped_df = df.loc[df.reset_index().groupby(['category'])['star_rating'].idxmax()]
grouped_df = grouped_df.reset_index(drop=True)
grouped_df[['category', 'app_name']].set_index('category').squeeze()

category
Business                           Microsoft Teams
Education                                 Duolingo
Entertainment               TikTok - Make Your Day
Finance                                   Barclays
Food & Drink              Just Eat - Food Delivery
Games                                 8 Ball Pool™
Health & Fitness                      MyFitnessPal
Music                                       Shazam
Navigation            Google Maps - Transit & Food
Photo & Video        FreePrints - Photos Delivered
Productivity          Google Drive – online backup
Reference                         Google Translate
Shopping                UNiDAYS: Student Discounts
Social Networking       Pinterest: Lifestyle Ideas
Travel                                        Bolt
Utilities                              My Vodafone
Name: app_name, dtype: object

In [262]:
#If you want to confirm the statement made in the previous comments, you can un-comment the code below and compare the results
#to the results above

#for index, value in maxvals.items():
    #print(df[(df['category']==index ) & (df['star_rating']==value)][['category', 'app_name', 'star_rating', 'new_ratings']])